@model IEnumerable<MyClass.Models.Post>
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
            <li><a href="https://localhost:44300/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Tất cả bài viết</li>
        </ol>
    </div>
</div>
<div class="products">
    <div class="container">
        <h2 class="animated wow fadeInDown animated" data-wow-delay=".5s">Tất cả bài viết</h2>
        <div class="row">
            <form class="form-horizontal">
                @foreach (var post in Model)
                {
                    <div class="form-group form-group-lg">
                        <div class="col-sm-3 animated wow fadeInUp animated" data-wow-delay=".5s">
                            <div class="content-grid-effect slow-zoom ">
                                <div class="img-box">
                                    <a href="~/@post.Slug">                                  
                                        <img src="~/Assets/client/images/abouts/@post.Image" alt="image" class="img-responsive zoom-img">
                                    </a>
                                
                                </div>
                            </div>
                            </div>
                            <div class="col-sm-9 animated wow fadeInRight animated" data-wow-delay=".5s">
                                <div class="card-body">
                                    <h3 class="blog-post-title">
                                        <a href="~/@post.Slug">@post.Name</a>
                                    </h3>
                                    <div class="blog-post-meta">
                                    </div>
                                    <p class="card-text">@XString.Str_Limit(post.Detail,300)</p>
                                    <p class="card-text"><small class="text-muted">@post.CreatedDate</small></p>
                                    <div class="text-right"><small><a href="~/@post.Slug">Xem thêm</a></small></div>
                                </div>
                            </div>
                        </div>
                }
            </form>
        </div>
    </div>
    </div>
