<div class="product-bottom">
    <h3 class="cate">Bán chạy nhất</h3>
    <div class="product-go">
        <div class=" fashion-grid">
            <a href="single.html"><img class="img-responsive " src="~/Assets/client/images/products/pr.jpg" alt=""></a>
        </div>
        <div class=" fashion-grid1">
            <h6 class="best2"><a href="single.html">Lorem ipsum dolor sitamet consectetuer  </a></h6>
            <span class=" price-in1"> $40.00</span>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="product-go">
        <div class=" fashion-grid">
            <a href="single.html"><img class="img-responsive " src="~/Assets/client/images/products/pr1.jpg" alt=""></a>
        </div>
        <div class=" fashion-grid1">
            <h6 class="best2"><a href="single.html">Lorem ipsum dolor sitamet consectetuer  </a></h6>
            <span class=" price-in1"> $40.00</span>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="product-go">
        <div class=" fashion-grid">
            <a href="single.html"><img class="img-responsive " src="~/Assets/client/images/products/pr2.jpg" alt=""></a>
        </div>
        <div class=" fashion-grid1">
            <h6 class="best2"><a href="single.html">Lorem ipsum dolor sitamet consectetuer  </a></h6>
            <span class=" price-in1"> $40.00</span>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="product-go">
        <div class=" fashion-grid">
            <a href="single.html"><img class="img-responsive " src="~/Assets/client/images/products/pr3.jpg" alt=""></a>
        </div>
        <div class=" fashion-grid1">
            <h6 class="best2"><a href="single.html">Lorem ipsum dolor sitamet consectetuer  </a></h6>
            <span class=" price-in1"> $40.00</span>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
