
@{
    ViewBag.Title = "ThanhCong";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<!--//header-->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
            <li><a href="https://localhost:44300/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li><a href="~/gio-hang">Giỏ hàng</a></li>
            <li class="active">Thanh toán</li>
        </ol>
    </div>
</div>
<!---->
<div class="container"><h2>Thành Công</h2></div>


